<!DOCTYPE html>
<html>
  <head>
    <title>organizeMe</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <style media="screen">
      body{
        background-image: url("https://image.freepik.com/free-photo/laptop-gadget-device-notebook-blank-space-concept_53876-47099.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10px;
      }
    </style>
    </head>


    <body>
      <div style="float:right; margin-right:80px;">
        <h1>Note Maker</h1>
        <h3>Stay organized..!!</h3>
      </div>
      <button><a href="/signup">Get Started</a></button>
    </body>
</html>
