<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Note Maker</title>

        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/style.css">

    </head>

    <body>

        <div class="top-content">
        	<div class="container">

				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text">
						<h2>Women Leaders in Technology</h2><br>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 r-form-1-box wow fadeInUp">
						<div class="r-form-1-top">
							<div class="r-form-1-top-left">
								<p>Login to your Account</p>
							</div>
							<div class="r-form-1-top-right">
								<i class="fa fa-pencil"></i>
							</div>
						</div>
						<div class="r-form-1-bottom">
							<form action="/login" method="post">
								<div class="form-group">
									<input type="text" name="username" placeholder="Username..." class="form-control" id="username">
								</div>

								<div class="form-group">
									<input type="text" name="password" placeholder="Passowrd..." class="form-control" id="password">
								</div>
								<button type="submit" class="btn">Login!</button>
							</form>
						</div>
					</div>

				</div>
        <p><a href="/signup">Don't have an account?</a></p>
        </div>
        </div>

    </body>

</html>
